/* Scroll area */
.about-pin-section {
    height: 120vh;
    /* scroll space */
    position: relative;
}

/* Sticky content */
.about-content {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 80px 60px;
    box-sizing: border-box;
}

.about-content.static {
    position: static;
}

/* Text */
.about-content p {
    max-width: 743px;
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 600;
    letter-spacing: 0.5px;
    opacity: 0.9;
    color: black;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
    /* position: absolute; */
    font-family: "Space Grotesk", sans-serif;
}

/* Scroll image from bottom to top */
.about-image {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60vh;
    background-image: url("/Background/Backgroundimg-1.avif");
    background-size: cover;
    background-position: center;
    z-index: 0;
    will-change: transform;
}

/* BUTTON */
.about-btn {
    background: black;
    color: white;
    padding: 12px 30px;
    border-radius: 40px;
    font-size: 15px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.about-btn:hover {
    transform: translateY(-2px);
    opacity: 0.85;
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .about-content {
        padding: 0 40px;
    }

    .about-content p {
        font-size: 1.4rem;
    }
}

@media (max-width: 600px) {
    .about-content {
        padding: 0 24px;
    }

    .about-content p {
        font-size: 1.2rem;
    }
}
